
body {
    background-image: url('https://cdn.pixabay.com/photo/2014/11/24/20/18/hands-544522_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
    font-size: 75px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

p {
    text-align: center;
    font-family: 'Lemonada', cursive;
    
}

#home-navi {
    text-align: center;
    font-size: 60px;
    font-family: 'Handlee', cursive; 
    color: white; 
}
h3 {
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat Subrayada', sans-serif;
}
h2 {
    text-align: center;
    font-size: 25px;
    font-family: 'Lemonada', cursive;
}
.sprints{
    font-size: 50px;
    font-family: 'Lemonada', cursive;
}
body {
    color: gray;
}

#meta only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}