body {
    background-color: orange;
}
#home-navi {
    text-align: center;
    font-size: 60px;
    font-family: 'Handlee', cursive; 
    color: white; 
}
h1 {
    text-align: center;
    font-size: 70px;
    
}
h2 {
   font-size: 45px;
}
h3 { 
    font-size: 45px;
}
.question {
   font-weight: bold;
   font-size: 25px;
}
.answer {
    font-style: italic;
    font-size: 25px;
}
.core1 {
    border: 5px solid red;
    border-radius: 12px;
    background-color: darkgrey;
}
.core2 {
    border: 5px solid red;
    border-radius: 12px;
    background-color: darkgrey;
}
}