<style>
body {
    background-image: url('/images/textures/light1a.png');
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
#home-navi {
    text-align: center;
}
}
</style>
